// Utilities

// Color Classes
.blue {
    color: $blue;
}

.red {
    color: $red;
}

.bg-blue {
    background-color: $blue;
}

.bg-red {
    background-color: $red;
}

//font classes
.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}