/* Variables */

/* Colors */
$primary-color: hsl(180, 66%, 49%);
$secondary-color: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$violet-gray: hsl(257, 7%, 63%);
$dark-blue: hsl(255, 11%, 22%);
$dark-violet: hsl(260, 8%, 14%);
$white: #fff;
$btn-hover: hsl(180, 75%, 65%);

/* Font Family default variable */
$primary-font: 'Poppins', sans-serif;