// ----------------------- Utilities ----------------------

.primary-bg {
    background-color: hsl(300, 43%, 22%);
}

.secondary-bg {
    background-color: hsl(333, 80%, 67%);
}

.dark-magenta-bg {
    background-color: hsl(303, 10%, 53%);
}

.light-magenta-bg {
    background-color: hsl(300, 24%, 96%);
}

.primary-text {
    color: hsl(300, 43%, 22%);
}

.secondary-text {
    color: hsl(333, 80%, 67%);
}

.dark-magenta-text {
    color: hsl(303, 10%, 53%);
}

.light-magenta-text {
    color: hsl(300, 24%, 96%);
}