/* Variables */

/* Colors */
$primary-color: hsl(300, 43%, 22%);
$secondary-color: hsl(333, 80%, 67%);

$dark-gray-magenta: hsl(303, 10%, 53%);
$light-gray-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

/* Font Family default variables */
$primary-font: 'League Spartan', sans-serif;