.reply-thread {
    border-left: 1px solid red;

    &>div {
        margin-left: 15px;
    }
}

.comment-action {
    &:hover {
        color: #6e6e6e;
    }
}

.add-comment-bubble {
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 0;
    }
}