/* Variables */

/* Colors */
$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 41%);

/* Font Family default variables */
$primary-font: 'Alata', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;