/* Variables */

/* Colors */
$primary-color: hsl(0, 100%, 74%);
$secondary-color: hsl(154, 59%, 51%);

$blue: hsl(248, 32%, 49%);

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

$white: #fff;


/* Font Family default variables */
$primary-font: 'Poppins', sans-serif;